:root {
    --gap: 20px;
    --node-size: 130px;
    --node-width: 230px;
    --node-height: 100px;
    --node-bg: #00403D;
    --node-color: #fff;
    --line-color: #3ad96b;
}

.widget {
    min-height: 150px;
    max-height: unset;
}

/*
    ******  EXTRA BUTTON TITLE  ******
*/
.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-group label i::before {
    color: var(--color-main);
    margin-right: 4px;
}

.item-frame {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-frame a {
    cursor: pointer;
}

/*
    ******  EXPANDED ITEM  ******
*/
.expandable-div {
    width: 100%;
    background: var(--color-third);
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    transition: all 0.3s ease;
    margin-bottom: 9.5px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 10px;
    background: var(--color-main);
    color: var(--color-third);
    cursor: pointer;
    user-select: none;
}

.header .branch {
    margin: auto 0;
    color: var(--color-third);
}

.arrow {
    font-size: 1.2rem;
    transition: transform 0.3s ease;
}

.arrow.expanded {
    transform: rotate(180deg);
}

.content {
    max-height: 0;
    overflow: hidden;
    background: #f9fafb;
    transition: max-height 0.3s ease, padding 0.3s ease;
}

.content.expanded {
    max-height: 200px;
    padding: 15px 10px;
    transition: max-height 0.8s ease, padding 0.3s ease;
}

/*
    ******  UPLOAD IMAGE  ******
*/
.img-upload-file {
    display: none;
}

.change-img:hover {
    cursor: pointer;
}

.img_frame {
    border: 2px dashed var(--color-border);
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 10px;
}

.img_frame img {
    width: 100%;
    height: 100%;
}

#shop_logo_val,
#shop_icon_logo_val,
#shop_text_logo_val,
#shop_logo_with_text_val {
    height: 140px;
}

#shop_icon_logo_val {
    object-fit: scale-down;
}

#shop_logo_with_text_val {
    object-fit: contain;
}

#introduce_image_val {
    height: 260px;
}

#shop_introduction_image_val {
    height: 260px;
}

#characteristic_image_val {
    height: 190px;
}

.branch-widget {
    min-height: 522px;
}

/*
    ******  TEXTAREA  ******
*/
.branch_add {
    min-height: 110px !important;
}

#introduction_content_val {
    min-height: 120px;
}

#shop_introduction_title_val {
    min-height: 80px;
}

#shop_introduction_content_val {
    min-height: 150px;
}

#slideshows_title_val,
#slideshows_content_val {
    min-height: 140px;
}

#characteristic_content_val {
    min-height: 130px;
}

.philosophy_content_val {
    min-height: 90px !important;
}

/*
    ******  BUSINESS PHILOSOPHY  ******
*/
.tab-container {
    display: flex;
    margin: 0 auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    overflow: hidden;
    min-height: 290px;
    height: 290px;
}

.tab-menu {
    width: 50px;
    background-color: #2c3e50;
    display: flex;
    flex-direction: column;
    height: 100%;
    z-index: 1;
}

.tab-item {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    position: relative;
}

.tab-item i {
    font-size: var(--fs-user-inf);
}

.tab-item:hover i {
    transform: scale(1.1);
}

.tab-item.active {
    background-color: var(--color-main);
}

.tab-item.active::after {
    content: '';
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 12px solid var(--color-main);
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    transition: border-left-color 0.3s;
    z-index: 10;
}

.tab-content {
    flex: 1;
    padding: 20px;
    background-color: white;
    height: 100%;
    overflow: auto;
    position: relative;
    border-left: none;
}

.content-detail {
    display: none;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 8px 18px;
    box-sizing: border-box;
}

.content-detail.active {
    display: block;
    opacity: 1;
    max-height: unset;
    overflow: auto;
    /* animation: slideInLeft 0.5s ease forwards; */
}

.content-detail form {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.icon-select-btn {
    display: flex;
    align-items: center;
    padding: 8px;
    border: 1px solid var(--color-border);
    border-radius: 4px;
    cursor: pointer;
    background-color: #fff;
    font-size: 14px;
    min-height: 36px;
}

.icon-select-btn i {
    margin-right: 8px;
}

.save-button {
    align-self: flex-end;
    padding: 8px 16px;
    background-color: var(--color-main);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.save-button:hover {
    background-color: var(--color-main);
}

/*
    ******  CHARACTERISTIC  ******
*/
#imageGrid {
    border: 2px solid var(--color-border);
    border-radius: 4px;
    padding: 0px 12px;
    height: 250px;
    overflow-y: auto;
}

.cc-item {
    padding: 6px 4px;
    cursor: grab;
}

.cc-item:active {
    cursor: grabbing;
}

.cc-item div {
    margin: auto;
}

.cc-item img {
    height: 40px;
    margin: auto;
}

.cc-item .col-buttons {
    display: flex;
    justify-content: center;
}

.cc-item .del-img-btn {
    color: var(--color-error);
}

#imageGrid .cc-item {
    border-bottom: 1px solid var(--color-border);
}

#imageGrid .cc-item:last-child {
    border-bottom: none;
}

.btn-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
}

.highlight {
    background-color: var(--color-selected);
}

/*
    ******  COMPANY IMAGE SLIDE  ******
*/
#menuGrid {
    border: 2px solid var(--color-border);
    border-radius: 4px;
    padding: 3px 12px;
    height: 260px;
    overflow-y: auto;
}

.mn-item {
    padding: 6px 4px;
    cursor: grab;
    user-select: none;
}

.mn-item:active {
    cursor: grabbing;
}

.mn-item div {
    margin: auto;
}

.mn-item img {
    height: 40px;
    margin: auto;
}

.mn-item .col-buttons {
    display: flex;
    justify-content: end;
}

.mn-item .del-img-btn {
    color: var(--color-error);
}

#menuGrid .mn-item {
    border-bottom: 1px solid var(--color-border);
}

#menuGrid .mn-item:last-child {
    border-bottom: none;
}



#banner_page {
    width: 100%;
    aspect-ratio: 3362 / 3060;
    object-fit: cover;
    display: block;
    max-height: 500px;
}

#license_image {
    width: 100%;
    aspect-ratio: 592 / 800;
    object-fit: cover;
    display: block;
    max-height: 700px;
}

#page_description {
    min-height: 180px;
}

#license_description {
    min-height: 130px;
}





.or_tree {
    position: relative;
    z-index: 1;
    padding-bottom: 10rem;
}

.tree {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, auto);
    gap: var(--gap);
    position: relative;
}

.node {
    width: var(--node-width);
    height: var(--node-height);
    min-width: 56px;
    min-height: 56px;
    border-radius: 12px;
    background: linear-gradient(180deg, var(--node-bg), #013936);
    color: var(--node-color);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.6);
    margin: 0 auto;
    text-align: center;
    padding: 8px;
    font-weight: 600;
    font-size: 14px;
    position: relative;
    z-index: 2;
}

.node-edit {
  position: absolute;
  top: 2px;
  right: 5px;
  padding: 2px;
  border-radius: 2px;
}

.node-edit:hover {
    cursor: pointer;
    scale: 0.95;
}

.r1c3 {
    grid-row: 1;
    grid-column: 3;
}

.r2c3 {
    grid-row: 2;
    grid-column: 3;
}

.r3c1 {
    grid-row: 3;
    grid-column: 1;
}

.r3c2 {
    grid-row: 3;
    grid-column: 2;
}

.r3c3 {
    grid-row: 3;
    grid-column: 3;
}

.r3c4 {
    grid-row: 3;
    grid-column: 4;
}

.r3c5 {
    grid-row: 3;
    grid-column: 5;
}

.r4c1 {
    grid-row: 4;
    grid-column: 1;
}

.r4c2 {
    grid-row: 4;
    grid-column: 2;
}

.r4c3 {
    grid-row: 4;
    grid-column: 3;
}

.r4c4 {
    grid-row: 4;
    grid-column: 4;
}

.r4c5 {
    grid-row: 4;
    grid-column: 5;
}

.r5c1 {
    grid-row: 5;
    grid-column: 1;
}

.r5c2 {
    grid-row: 5;
    grid-column: 2;
}

.r5c3 {
    grid-row: 5;
    grid-column: 3;
}

.r5c4 {
    grid-row: 5;
    grid-column: 4;
}

.r5c5 {
    grid-row: 5;
    grid-column: 5;
}

.vline-center {
    grid-column: 3;
    grid-row: 1 / 3;
    align-self: stretch;
    justify-self: center;
    width: 2px;
    background: var(--line-color);
    margin-top: calc(var(--node-size) / 2);
    margin-bottom: calc(var(--gap) + var(--node-size) / 2);
    opacity: 0.95;
    z-index: 1;
}

.vline-center-2 {
    grid-column: 3;
    grid-row: 2 / 4;
    align-self: stretch;
    justify-self: center;
    width: 2px;
    background: var(--line-color);
    margin-top: calc(var(--node-size) / 2);
    margin-bottom: calc(var(--gap) + var(--node-size) / 2);
    z-index: 1;
}

.hbar {
    grid-column: 1 / -1;
    grid-row: 3;
    align-self: center;
    justify-self: stretch;
    height: 2px;
    background: var(--line-color);
    z-index: 1;
    opacity: 0.95;
    margin-top: 0;
    margin-left: var(--node-size);
    margin-right: var(--node-size);
}

.vline-col {
    grid-row: 3 / 6;
    align-self: stretch;
    justify-self: center;
    width: 2px;
    background: var(--line-color);
    margin-top: calc(var(--node-size) / 2);
    margin-bottom: calc(var(--node-size) / 2);
    opacity: 0.95;
    z-index: 1;
}

.vcol1 {
    grid-column: 1;
}

.vcol2 {
    grid-column: 2;
}

.vcol3 {
    grid-column: 3;
}

.vcol4 {
    grid-column: 4;
}

.vcol5 {
    grid-column: 5;
}

/*
  ******  RESPONSIVE LAYOUT  ******
*/
/* @media screen and (max-width: 1600px) {
    #shop_logo_val,
    #shop_icon_logo_val,
    #shop_text_logo_val,
    #shop_logo_with_text_val {
        height: 160px;
    }

    #introduce_image_val {
        height: 230px;
    }

    #shop_introduction_image_val {
        height: 240px;
    }

    #characteristic_image_val {
        height: 230px;
    }



    #introduction_content_val {
        min-height: 100px;
    }


    #shop_introduction_title_val {
        min-height: 75px;
    }

    #shop_introduction_content_val {
        min-height: 140px;
    }


    .expandable-div {
        margin-bottom: 13px;
    }

    .header {
        padding: 8.2px 10px;
    }
} */


@media screen and (max-width: 1200px) {

    #shop_logo_val,
    #shop_icon_logo_val,
    #shop_text_logo_val,
    #shop_logo_with_text_val {
        height: 125px;
    }

    #shop_introduction_image_val {
        height: 250px;
    }

    #introduce_image_val {
        height: 250px;
    }

    #characteristic_image_val {
        height: 220px;
    }

    .branch-widget {
        min-height: 507px;
    }

    .tab-container {
        min-height: unset;
        height: 240px;
    }

    #imageGrid {
        height: 240px;
    }
}

@media screen and (max-width: 992px) {

    #shop_logo_val,
    #shop_icon_logo_val,
    #shop_text_logo_val,
    #shop_logo_with_text_val {
        height: 170px;
    }

    #shop_introduction_content_val {
        height: 140px;
    }

    .image-row {
        min-height: 220px;
    }

    .image-row img {
        height: 220px;
        width: 92%;
    }

    #menuGrid {
        height: 230px;
    }

    #shop_introduction_title_val {
        min-height: 70px;
    }
}

@media screen and (max-width: 768px) {
    .card-icon {
        width: 20%;
        padding-top: 15px;
    }

    .card-icon i::before {
        font-size: 23px;
        padding: 8px;
    }

    .shop_logo {
        width: 100%;
        margin: auto;
    }

    #shop_logo_val,
    #shop_icon_logo_val,
    #shop_text_logo_val,
    #shop_logo_with_text_val {
        height: 120px;
        object-fit: scale-down;
    }

    #slideshows_title_val {
        min-height: 90px;
    }

    #shop_introduction_image_val {
        height: 300px;
    }

    #introduction_content_val {
        min-height: 122px;
    }

    #characteristic_content_val {
        min-height: 120px;
    }
}

@media screen and (max-width: 660px) {
    .tab-container {
        height: 310px;
    }

    .branch_add {
        min-height: 105px !important;
    }

    #shop_introduction_content_val {
        min-height: 100px;
    }

    .philosophy_content_val {
        min-height: 110px !important;
    }

    .image-row {
        min-height: 200px;
    }

    .image-row img {
        height: 200px;
    }
}

@media screen and (max-width: 580px) {
    .content.expanded {
        max-height: 280px;
        overflow: auto;
    }

    .introduce_image {
        width: 70%;
        margin: auto;
    }

    #shop_logo_val,
    #shop_icon_logo_val,
    #shop_text_logo_val,
    #shop_logo_with_text_val {
        height: 120px;
    }

    #shop_introduction_image_val {
        height: 230px;
    }

    #introduce_image_val {
        height: 260px;
    }

    #characteristic_image_val {
        height: 230px;
    }

    .branch-widget {
        min-height: 507px;
    }

    .tab-container {
        height: 285px;
    }

    .philosophy_content_val {
        min-height: 90px !important;
    }
}

@media screen and (max-width: 450px) {
    .card-icon {
        width: 20%;
        padding-top: 12px;
    }

    .card-icon i::before {
        padding: 10px;
        font-size: 18px;
    }

    .shop_logo,
    .shop_introduction_image,
    .characteristic_image,
    .introduce_image {
        width: 100%;
    }

    #shop_logo_val,
    #shop_icon_logo_val,
    #shop_text_logo_val,
    #shop_logo_with_text_val {
        height: 150px;
    }

    #introduce_image_val {
        height: 250px;
    }

    #shop_introduction_image_val {
        height: 220px;
    }

    #characteristic_image_val {
        height: 190px;
    }
}

@media screen and (max-width: 365px) {
    .branch_add {
        min-height: 115px !important;
    }

    #shop_logo_val,
    #shop_icon_logo_val,
    #shop_text_logo_val,
    #shop_logo_with_text_val {
        height: 150px;
    }

    #introduce_image_val {
        height: 230px;
    }

    #shop_introduction_image_val,
    #characteristic_image_val {
        height: 180px;
    }
}