.title-widget-frame .col-right a {
    color: var(--color-main);
}

.title-widget-frame .col-right a:hover {
    color: var(--color-button-hover);
}


.card-container {
    margin-bottom: 40px;
}

.card {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    min-height: 100px;
    height: 150px;
    position: relative;
    margin-bottom: 20px;
}

.card h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #333;
}

.card p {
    margin-bottom: 8px;
}


.card-content {
    padding: 12px 15px;
    display: flex;
}

.card-information {
    width: 80%;
}

.card-icon {
    width: 20%;
    text-align: center;
    padding-top: 20px;
}

.card-icon i::before {
    font-size: 30px;
    color: white;
    padding: 10px;
    border-radius: 50%;
}

.card-status {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    padding: 8px 15px;
    color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

[data-card="visit_history"] {
    color: #28c326;
}

[data-card="visit_history"] .card-status,
[data-card="visit_history"] .card-icon i::before {
    background-color: #28c326;
}

[data-card="contact"] {
    color: #ee9f1f;
}

[data-card="contact"] .card-status,
[data-card="contact"] .card-icon i::before {
    background-color: #ee9f1f;
}

[data-card="update_history"] {
    color: #6b8bfd;
}

[data-card="update_history"] .card-status,
[data-card="update_history"] .card-icon i::before {
    background-color: #6b8bfd;
}

[data-card="error_history"] {
    color: #f76c57;
}

[data-card="error_history"] .card-status,
[data-card="error_history"] .card-icon i::before {
    background-color: #f76c57;
}

#error-table {
    border-collapse: collapse;
    max-height: 390px;
    overflow-y: auto;
}

#error-table table {
    width: 100%;
}

#error-table .tb-item:hover {
    background: #f5f5f5;
}

#error-table thead {
    width: 100%;
}

#error-table th,
#error-table td {
    padding: 10px;
}


#error-table th {
    background-color: #eaeaea;
}

[data-col="time"] {
    width: 18%;
}

[data-col="error-code"] {
    width: 25%;
}

[data-col="discription"] {
    width: 32%;
}

[data-col="status"] {
    width: 25%;
}

.tb-item {
    height: 40px;
}

.status-frame {
    width: fit-content;
    padding: 5px 10px;
    border-radius: 10px;
    margin: auto;
}

.status-frame[status="0"] {
    --tw-bg-opacity: 1;
    background-color: rgb(255 237 233 / var(--tw-bg-opacity, 1));
}

.status-frame[status="1"] {
    --tw-bg-opacity: 1;
    background-color: rgb(229 243 251 / var(--tw-bg-opacity, 1));
}

.status-frame[status="2"] {
    --tw-bg-opacity: 1;
    background-color: rgb(223 255 243 / var(--tw-bg-opacity, 1));
}

.status-frame[status="0"] span {
    --tw-text-opacity: 1;
    color: rgb(251 151 125 / var(--tw-text-opacity, 1));
}

.status-frame[status="1"] span {
    --tw-text-opacity: 1;
    color: rgb(0 133 219 / var(--tw-text-opacity, 1));
}

.status-frame[status="2"] span {
    --tw-text-opacity: 1;
    color: rgb(75 208 139 / var(--tw-text-opacity, 1));
}

.des-err {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 160px;
}



.his-item {
    margin-bottom: 10px;
}

.his-date {
    margin-bottom: 5px;
}

#update-history-list .his-item:nth-child(odd) div .circle {
    border: 2px solid rgb(0, 229, 255);
}

.his-space {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5px 0;
}

.his-space .circle {
    width: 12px;
    height: 12px;
    border: 2px solid rgb(255, 145, 0);
    border-radius: 50%;
    margin: auto;
    margin-bottom: 3px;
}

.his-space .line {
    width: 1px;
    height: auto;
    min-height: 25px;
    max-height: 54px;
    background-color: #d4d3d3;
    margin: auto;
}










/*
  ******  RESPONSIVE LAYOUT  ******
*/
@media screen and (max-width: 1200px) {}

@media screen and (max-width: 900px) {}

@media screen and (max-width: 768px) {
    .card-icon {
        width: 20%;
        padding-top: 15px;
    }

    .card-icon i::before {
        font-size: 23px;
        padding: 8px;
    }
}

@media screen and (max-width: 660px) {}

@media screen and (max-width: 580px) {}

@media screen and (max-width: 450px) {
    .card-icon {
        width: 20%;
        padding-top: 12px;
    }

    .card-icon i::before {
        padding: 10px;
        font-size: 18px;
    }
}

@media screen and (max-width: 365px) {}